<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>LOLCOMMITZ!!11leven</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="https://github.com/<%= @repo %>/" target="_blank"><%= @repo %></a>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Example row of columns -->
            <div class="row">
                <% @commits.each do |commit| %>
                    <div class="span4" style="margin-bottom: 20px">
                        <a href="<%= commit['url'] %>" target="_blank">
                            <img class="lolimage" src="" data-src="<%= url_for "/lol/#{commit['sha']}" %>" width="640" height="480" title="<%= DateTime.strptime(commit['date'].to_s, "%s").strftime("%Y-%m-%d %H:%M:%S") if commit['date'] %>"/>
                        </a>
                    </div>
                <% end %>
            </div>

            <hr>

            <footer>
                <p>&copy; Lolling since 1988</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
